/* ELEMENTS */
body,
html {
    font-family: Helvetica, Arial, sans-serif;
    height: 100% !important;
}

h1 {
    font-size: 3vi;
}

h2 {
    font-size: 1vi;
}

h3 {
    font-size: 0.75vi;
}

p {
    font-size: 1vi;
}

.snark {
    font-size: 0.5vi;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 16px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    p {
        font-size: 16px;
    }

    .snark { 
        font-size: 12px;
    }
}

/* CLASSES */
.banner {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 1vh;
    font-size: 1vi;
}

/* IDs */
#main-content {
    min-height: calc(100vh - 18.25rem);
}

#project-carousel {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
    border-radius: 10px;
}

#wrapper { 
    height: 100%; 
}